@model FlowTrace.Areas.BugTracker.Models.Bug

@{
    ViewData["Title"] = "Edit";
}

<div class="modal fade" id="editBug-@Model.Id" role="dialog" aria-labelledby="editBugLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editBugLabel">Edit Bug</h5>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <a asp-action="Index">
                        <i class="fa fa-times" style="color: white;"></i>
                    </a>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Summary" class="control-label">Summary</label>
                        <input asp-for="Summary" class="form-control" />
                        <span asp-validation-for="Summary" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Assignee" class="control-label"></label>
                        <input asp-for="Assignee" class="form-control" />
                        <span asp-validation-for="Assignee" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reporter" class="control-label"></label>
                        <input asp-for="Reporter" class="form-control" />
                        <span asp-validation-for="Reporter" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select class="form-control" asp-for="Status">
                            <option>Open</option>
                            <option>In Progress</option>
                            <option>Closed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="StatusCategory" class="control-label"></label>
                        <input asp-for="StatusCategory" class="form-control" />
                        <span asp-validation-for="StatusCategory" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <input asp-for="Type" class="form-control" />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Save" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
