html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*Login and Register Tabs*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    padding: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

.nav-tabs .nav-link {
    margin-bottom: -5px;
    margin-left: 7px;
    margin-top: -1px;
    margin-right: 7px;
}

/*BugTracker Search Bar*/
.form {
    position: relative;
    width: 20%;
}

    .form .fa-search {
        position: absolute;
        top: 13px;
        left: 20px;
        color: #9ca3af;
    }

    .form span {
        position: absolute;
        right: 17px;
        top: 13px;
        padding: 2px;
        border-left: 1px solid #d1d5db;
    }

.form-input {
    height: 40px;
    text-indent: 33px;
    border-radius: 10px;
}

    .form-input:focus {
        box-shadow: none;
        border: none;
    }